beautifulsoup4==4.11.0
certifi==2021.10.8
chardet==3.0.4
charset-normalizer==2.0.12
click==8.1.2
cloudscraper==1.2.60
fake-useragent==0.1.11
Flask==2.1.1
greenlet==1.1.2
idna==2.5
importlib-metadata==4.11.3
itsdangerous==2.1.2
Jinja2==3.1.1
MarkupSafe==2.1.1
opencc-python-reimplemented==0.1.6
PyMySQL==1.0.2
pyparsing==3.0.8
requests==2.27.1
requests-toolbelt==0.9.1
requests2==2.16.0
soupsieve==2.3.2
SQLAlchemy==1.4.35
typing_extensions==4.1.1
urllib3==1.21.1
Werkzeug==2.1.1
zipp==3.8.0
